#cart-page-layout {
  /* height: 88vh; */

  padding-bottom: 15px;
}

#cart-sum-continer {
  border: 1px solid rgb(119, 128, 155);
  border-radius: 8px;
  padding-top: 5px;
  margin-bottom: 10px;
}

#person-continer {
  border: 1px solid rgb(119, 128, 155);
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.cart-card {
  max-width: 100%;
  max-height: 180px;
}

.img-container {
  overflow: hidden;
  max-height: 175px;
}

.qty-wrapper {
  border: 1px solid grey;
  border-radius: 7px;
}
