#user-cart {
  position: fixed;
  color: white;
  right: 0;
  width: auto;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #212529;
  z-index: 500;
  overflow: auto;
  box-shadow: 1px 1px 4px 1px #cecece;
  height: 90vh;
}

.btn.btn-primary.btn-checkout {
  background: #43515e;
  border-color: #43515e;
}

.btn.btn-primary.btn-checkout:focus {
  background: #36424d;
  border-color: #43515e;
}

#close-cart {
  background-color: inherit;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3px;
  margin-right: 3px;
  color: red;
  font-weight: 600;
}

#products-body {
  padding: 15px;
}

#hr-prod-between-sum {
  margin-top: 16px;
}

.prod-wrapper {
  width: 264px;
}

.side-cart-row {
  margin: 3px 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.block {
  padding: 1rem;
  margin: 0.5rem;
}

.add-remove-btns {
  font-weight: 600;
  height: 25px;
  width: 34px;
}

.btns-price-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.items-title-in-row {
  text-align: left;
}

.btn-info {
  max-width: 150px;
}

.bottom-section {
  margin: auto;
  bottom: 0;
  margin-bottom: 15px;
  width: 248px;
}
